<div class="scoreboard-card-container">
    <div class="scoreboard-card-frame-container">
        <div class="scoreboard-card-frame-value"> 
            1
        </div> 
    </div>

    <div class="scoreboard-card-frame-pin-container">
        <div class="scoreboard-card-frame-firstroll-container">
            <div class="scoreboard-card-frame-firstroll-value">
                {{firstValue}}
            </div>
        </div>
        <div class="scoreboard-card-frame-secondroll-container">
            <div class="scoreboard-card-frame-secondroll-value">
                2
            </div>
        </div>
    </div>

    <div class="scoreboard-card-frame-total-container" >
        <div class="scoreboard-card-frame-total-value"> 
            3
        </div> 
    </div>
</div>