
.scoreboard-card-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.scoreboard-card-frame-pin-container{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: center;
}
.scoreboard-card-frame-firstroll-container{
    border: 1px solid black;
    flex-grow: 1;
}
.scoreboard-card-frame-secondroll-container{
    border: 1px solid black;
    flex-grow: 1;
}

.scoreboard-card-frame-total-container{
    border: 1px solid black;
}