<div class="scoreboard-card-container">
    <div class="scoreboard-card-frame-container">
        <div class="scoreboard-card-frame-value"> 
            {{frameNumber}}
        </div> 
    </div>

    <div class="scoreboard-card-frame-pin-container">
        <div class="scoreboard-card-frame-firstroll-container">
            <div class="scoreboard-card-frame-firstroll-value">
                {{firstNum}}
            </div>
        </div>
        <div class="scoreboard-card-frame-secondroll-container">
            <div class="scoreboard-card-frame-secondroll-value">
                {{secondNum}}
            </div>
        </div>
    </div>

    <div class="scoreboard-card-frame-total-container" >
        <div class="scoreboard-card-frame-total-value"> 
            1
        </div> 
    </div>
</div>