<div class="scoreboard-container">
    <app-scoreboard-frame-card></app-scoreboard-frame-card>
    <app-scoreboard-frame-card></app-scoreboard-frame-card>
    <app-scoreboard-frame-card></app-scoreboard-frame-card>
    <app-scoreboard-frame-card></app-scoreboard-frame-card>
    <app-scoreboard-frame-card></app-scoreboard-frame-card>
    <app-scoreboard-frame-card></app-scoreboard-frame-card>
    <app-scoreboard-frame-card></app-scoreboard-frame-card>
    <app-scoreboard-frame-card></app-scoreboard-frame-card>
    <app-scoreboard-frame-card></app-scoreboard-frame-card>
</div>